###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################


plugins =[{}]
    # include 'minify' plugin from plugins folder
    "minify" = "!plg:minify"
    # include 'doc' plugin from plugins folder
    "doc" = "!plg:doc"
@

tasks =[{}]
    
    build =[{}]
    
        # The input files (list)
        src =[]

            !tpl:umd-header.tpl.js  # include a umd-header template
            
            ### Core file ###
            ./src/Sort.js

            ### Comparison-Based Algorithms ###
            ./src/comparison/BuiltinSort.js

            ./src/comparison/BubbleSort.js
            ./src/comparison/CocktailSort.js
            ./src/comparison/ShellSort.js
            ./src/comparison/HeapSort.js
            ./src/comparison/InsertionSort.js
            ./src/comparison/CycleSort.js
            ./src/comparison/LibrarySort.js
            ./src/comparison/MergeSort.js
            ./src/comparison/QuickSort.js
            ./src/comparison/TreeSort.js
            # !!not implemented yet!!
            ./src/comparison/IntroSort.js

            ### Number/Count-Based Algorithms ###
            ./src/arithmetic/CountingSort.js
            ./src/arithmetic/BucketSort.js
            # !!not implemented yet!!
            ./src/arithmetic/RadixSort.js

            ## a couple of custom algorithms ##
            ./src/arithmetic/IndexSort.js
            # not complete, in progress
            #./src/arithmetic/StatisticalSort.js

            # !!not implemented yet!!
            ./src/other/TimSort.js
            ./src/other/BurstSort.js
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template
            
        @

        # extract header from this file
        header = ./src/Sort.js

        # Any texts to be replaced in the final file (map)
        replace =[{}]

            "@@ROOT@@" = "this"
            "@@VERSION@@" = "0.4.0"
            "@@USE_STRICT@@" = '"use strict";'
            "@@MODULE@@" = "Sort"
            
        @

        # Extract documentation from the source (map)
        doc ={}
            
            "startdoc" = "/**[DOC_MARKDOWN]"
            "enddoc" = "[/DOC_MARKDOWN]**/"
            "output" = "./manual.md"

        @

        # Minify the Package (map of lists)
        minify ={}
        
            # Options for Node UglifyJS Compiler (if used), (default minify options, mangle and compress)
            uglifyjs =[]
                -m -c
            @
        
            # Options for Java Closure Compiler (if used), (default minify options)
            closure =[]
                "--language_in=ECMASCRIPT5_STRICT"
            @
        
            # Options for Java YUI Compressor Compiler (if used), (default minify options)
            yui =[]
                --preserve-semi
            @
            
        @

        # The final output file (value)
        out = ./test/js/sort.min.js
    @

@